<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - gabenpls</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bulma-rtl.css" />
    <link rel="stylesheet" href="~/css/bulma.css" />
</head>
<body>
<header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img class="big-logo" src=@ViewData["avatarUrl"]>
                    <div class="navbar-brand-text">GABENPLS</div>
                </a>
            </div>
    
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                    <a class="navbar-item" href="/Achievements">
                        Achievements
                    </a>
                </div>
    
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light" href="/steamLogout">
                                Log out
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </nav>
</header>
<section class="section">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</section>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - gabenpls - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
