@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h2>Welcome to "gabenpls.com"! You can view your steam achievements statistic by logging in with your steam account</h2>
    <a href="/login">
        <img src="~/Images/steam_log.png" asp-append-version="true"/>
    </a>
</div>
